@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .container {
        @apply mx-auto px-4 lg:px-5;
    }

    .btn {
        @apply px-8 py-3 bg-orange transition-colors hover:bg-orangeLight text-[17px] rounded-full inline-block text-white font-medium;
    }
    .btn-orange{
        @apply bg-orange hover:bg-orangeLight;
    }
    .bg-body-pattern { 
        background-repeat: no-repeat;
        background-size: 800px;
        background-position: 90% -326px; 
    }
}